{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": 1,
    "consistent-return": "off"
  }
}
