.auth__input {
  width: 100%;
  background-color: #002b53;
  border: none;
  border-bottom: 2px solid #cccccc;
  outline: none;
  height: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
